@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.login-container {
  display: flex;
  height: 100vh;
  background-color: $main-bg;
  color: $main-color;

  .login-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: $main-bg;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .logo{
        margin-bottom: 2rem;
        width: 150px;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 2rem;

      a {
        color: rgb(31, 197, 253);
      }
    }

    form {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;

      .input-group {
        margin-bottom: 1rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid $soft-bg;
          border-radius: 4px;
          background-color: $soft-bg;
          color: $main-color;
        }
      }

      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .checkbox-group {
          display: flex;
          align-items: center;

          input {
            margin-right: 0.5rem;
          }
        }

        a {
          color: rgb(31, 197, 253);
        }
      }

      button {
        padding: 0.5rem;
        border: none;
        border-radius: 4px;
        background-color: $button-bg;
        color: $main-color;
        cursor: pointer;

        &:hover {
          background-color: darken($soft-bg, 10%);
        }
      }
    }

    a {
      color: $soft-color;
    }
  }

  .image-section{
    flex: 0.75;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: $dark-bg;

    img{
        max-width: 100%;
        height: auto;
    }
  }
}
