@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.menuContainer {
  width: 240px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg{
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 10px;
  width: 100%;
  flex: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
